    header {
      text-align: center;
      background: url("images/File_000.jpeg");
      background-size: cover;
      color: white;
      height:500px;
    }
    
    
#Hey{
 text-align:center;

}
  


#profile{
  height:250px;
  width:195px;
  position:absolute;
  top:120px;
  left:300px;
  border:5px solid white;
  border-radius:40px;
}
body{
  background-color:#47B4FF  ;
}
#desF{
  font-size:40px;
  position:absolute;
  top:250px;
  left:200px;
 font-family: 'Satisfy', cursive;
 
}
#desS{
  font-size:40px;
  position:absolute;
  top:250px;
  
  font-family: 'Satisfy', cursive;
 
}
#intro{
  text-align:center;
  font-family: 'Satisfy', cursive;
  color:white;
  
}
.jumbotron{
  background-color:black;
}
#about{
  text-align:center;
  font-family: 'Satisfy', cursive;
  color:white;
  font-size:30px;
}
#checkmo{
  text-align:center;
  font-family: 'Satisfy', cursive;
  color:white;
  
}
.img-circle{
  height:200px;
  width:200px;
  margin:12px;
}
#twitter{
 background:url("images/twitter.jpg"); 
}